
<form class="" action="/candles" method="post">
    <%= form_tag 'candles'%>
    How many candles can your birthday cake handle?:
    <input type="number" name="candles" value="">
    <% end %>
</form>



